dotenv_if_exists .env.curlenv
dotenv_if_exists .env.curlenv.target
dotenv_if_exists .env.curlenv.target.secret

source_env_if_exists .envrc.curlenv.target
source_env_if_exists .envrc.curlenv.target.secret

dotenv_if_exists .env.local
source_env_if_exists .envrc.local

if [[ -n "${CURLENV_CURRENT}" && -f required-variables.txt ]]; then
	env_vars_required $(tr '\n' ' ' < required-variables.txt)
fi

PATH_add bin
